<div class="container mx-auto mt-4">
  <p-card class="bg-slate-100 dark:bg-zinc-900 shadow-lg shadow-zinc-900/50">
    <ng-template #title>
      <div class="flex justify-between">
        <span>Pokemons</span>
        <app-pokemon-form
          (pokemonAdded)="setPokemonAdded($event)"
          [pokemonEdit]="pokemonEdit"
        ></app-pokemon-form>
      </div>
    </ng-template>
    <app-pokemon-list
      [pokemonAdded]="pokemonAdded"
      (pokemonEdit)="setPokemonEdit($event)"
    ></app-pokemon-list>
  </p-card>
</div>
