@if(pokemons()) {
<p>{{ "Nb. of pokemons : " + pokemons()?.length }}</p>
} @for (pokemon of pokemons(); track pokemon.id) {
<p-card
  [title]="pokemon.name"
  class="my-8 bg-slate-100 dark:bg-zinc-800 shadow shadow-zinc-900/50 dark:shadow-primary-500/70"
>
  <ng-template #title>
    <div class="flex justify-between items-center">
      <span>{{ pokemon.id + ": " + pokemon.name | titlecase }}</span>
      <div class="flex gap-4 justify-end">
        <p-button
          id="edit"
          size="small"
          icon="pi pi-pencil"
          (click)="editPokemon(pokemon)"
        ></p-button>
        <p-button
          id="delete"
          size="small"
          severity="danger"
          icon="pi pi-trash"
          (click)="confirmDeletion($event, pokemon)"
        ></p-button>
      </div>
    </div>
  </ng-template>
  <p-divider />
  <div class="flex mt-2 gap-4">
    <span>Type: {{ (pokemon.type | titlecase) || "N/A" }}</span>
    <span>Weight: {{ pokemon.weight || "N/A" }}</span>
  </div>
</p-card>
}
<p-toast position="bottom-right" />
<p-confirmdialog />
